@model BigJoelSafari.ViewModels.NewAnimalViewModel

<div asp-validation-summary="All"></div>

<form asp-controller="Animal" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="SizeID"></label>
        <select asp-for="SizeID" asp-items="Model.Sizes"></select>
    </div>

    <div class="form-group">
        <label asp-for="OriginID"></label>
        <select asp-for="OriginID" asp-items="Model.Origins"></select>
    </div>


    <div class="form-group">
        <label asp-for="KindID"></label>
        <select asp-for="KindID" asp-items="Model.Kinds"></select>
    </div>


    <div class="form-group">
        <label asp-for="EatID"></label>
        <select asp-for="EatID" asp-items="Model.Eats"></select>
    </div>
    <input type="submit" value="Add Animal" />
</form>