<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/images/favicon-16x16.png" sizes="16x16" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BigJoelSafari :: @ViewData["title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Discover the Animals</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
                    <li><a asp-controller="List" asp-action="Index">List</a></li>
                    <li><a asp-controller="Admission" asp-action="Index">Admission</a></li>
                    <li><a asp-controller="Explore" asp-action="Index">Explore</a></li>
                    <li><a asp-controller="Visit" asp-action="Index">Visit</a></li>
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    <li><a asp-controller="Support" asp-action="Index">Support</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php"></form>
                <script type="text/javascript">

                    // Google Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
                    // For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
                    // This notice must stay intact for use

                    //Enter domain of site to search.
                    var domainroot = "www.bigjoelsafari.com"

                    function Gsitesearch(curobj) {
                        curobj.q.value = "site:" + domainroot + " " + curobj.qfront.value
                    }

                </script>


                <form action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)">
                    <div class="form-group">
                        <input name="q" type="hidden" />
                        <input name="qfront" type="text" style="width: 180px" class="form-control" placeholder="Search.." />
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                    </div>
                </form>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-muted"><a asp-controller="Home" asp-action="Index">Big Joel's Safari</a></h4>
                </div>
                <div class="col-sm-3">
                    <h5>Admission</h5>
                    <ul class="list-unstyled text-small">
                        <li class="text-muted"><a asp-controller="Admission" asp-action="Index">Get Tickets</a></li>
                        <li class="text-muted"><a asp-controller="About" asp-action="Hours">Operating Hours</a></li>

                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>More</h5>
                    <ul class="list-unstyled text-small">
                        <li class="text-muted"><a asp-controller="About" asp-action="News">News</a></li>
                        <li class="text-muted"><a asp-controller="About" asp-action="Employment">Employment</a></li>
                        <li class="text-muted"><a asp-controller="Support" asp-action="Index">Volunteer</a></li>
                        <li class="text-muted"><a asp-controller="About" asp-action="Newsletter">Email Sign Up</a></li>
                        <li class="text-muted"><a asp-controller="Visit" asp-action="FAQS">FAQS</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Connect</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted">(636) 745-3031</a></li>
                        <li><a class="text-muted" href="mailto:bigjoelsafari@bigjoelsafari.com">bigjoelsafari@bigjoelsafari.com</a></li>
                        <li><a class="text-muted" href="https://tinyurl.com/y7ho7nk9" target="_blank">13187 State Highway M, Wright City MO 63390</a></li>
                        <li class="text-muted" style="font-size:30px">
                            <a href="https://www.tripadvisor.com/Attraction_Review-g45064-d4235307-Reviews-Big_Joel_s_Safari-Wright_City_Missouri.html/" target="_blank">
                                <i class="fa fa-tripadvisor"></i>
                            </a>
                            <a href="https://www.facebook.com/bigjoelsafari/" target="_blank">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="https://www.instagram.com/bigjoelsafari_pettingzoo/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <footer align="center">
        <p>Privacy Policy | <a asp-controller="About" asp-action="JNBio">About This Site</a> | Member of ZAA and USDA Licensed and Insured Facility</p>
        <p>&copy; 2018 - test Big Joel's Safari all rights reserved</p>
    </footer>
    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>