@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Explore";
}
<div class="container">
    <div class="explore-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Explore</h1>
        <p class="lead">Open from 9-5 each day the park is open, weather permitting.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/safarilogo.png" class="rounded-circle" alt="Birds">
            <h5>Parakeet Encounter</h5>
            <h6>Open all day from May 30 - Sept 5, weather permitting.</h6>
            <p>
                Feed our many fine-feathered friends in our
                open aviary. Many will actually land on your feeding stick, your
                hand, or even your head!
            </p>
            <h5 class="text-primary menu-price">$2<small class="text-muted">/ per stick</small></h5>
            <img src="~/images/safarilogo.png" alt="Camel">
            <h5>Camel Rides</h5>
            <h6>Open all day from May 30 - Sept 5, weather permitting.</h6>
            <p>
                For ages 2 years and older.
                More than one person may ride with a weight limit of 250 lbs. Helmet not provided.
            </p>
            <h5 class="text-primary menu-price">$5<small class="text-muted">/ per rider</small></h5>
        </div>
        <div class="col-sm-6">

            <img src="~/images/safarilogo.png" alt="Pony">
            <h5>Pony and Donkey Rides</h5>
            <h6>Open all day from May 30 - Sept 5, weather permitting.</h6>
            <p>
                For ages 2 years and older with a weight limit of 80 lbs.
                Younger riders may require a parent to walk along side the pony. Helmet not provided.
            </p>
            <h5 class="text-primary menu-price">$5<small class="text-muted">/ per rider</small></h5>

            <img src="~/images/safarilogo.png" alt="Wagon">
            <h5>Wagon Rides</h5>
            <h6>Open all day from Sept 5 - Nov 1, weather permitting.</h6>
            <p>
                Fall time is park owners, Big Joel and Mimi's favorite time of the year!
                They love to decorate for the fall season and especially for Halloween, transforming Big Joel's Safari into Big Joel's Spooky Safari!
                The wagon ride takes you in our old hay wagon with our trusty old tractor on a tour through our large field, which is home to our deer,
                elk, bison, and watusi cattle as well as our many ducks and geese.
                During the tour, our ride operator will inform you about our animal residents and facts about Big Joel's Safari!
            </p>
            <h5 class="text-primary menu-price">$2.50<small class="text-muted">/ per rider</small></h5>

        </div>
    </div>
</div>