@{
    ViewData["Title"] = "About";
}

<!-- HOURS SECTION -->
<div class="container">
    <div class="hour-header text-center">
        <h1>Hours</h1>
        <h2>Please check the calendar for the hours on the day of your visit.</h2>

    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">
                Spring Season
            </button>
            <div id="#demo1" class="collapse">
                <ul class="list-unstyled">
                    <li class="text-primary">March 24 - Memorial Day</li>
                    <li>Monday Closed</li>
                    <li>Tuesday Closed</li>
                    <li>Wednesday Closed</li>
                    <li>Thursday 9AM-5PM</li>
                    <li>Friday 9AM-5PM</li>
                    <li>Saturday 9AM-5PM</li>
                    <li>Sunday 11AM-5PM</li>
                </ul>
            </div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Summer Season</button>
            <div id="#demo1" class="collapse">
                <ul class="list-unstyled">
                    <li class="text-primary">Memorial Day - Labor Day</li>
                    <li>Monday 9AM-5PM</li>
                    <li>Tuesday Closed</li>
                    <li>Wednesday Closed</li>
                    <li>Thursday 9AM-5PM</li>
                    <li>Friday 9AM-5PM</li>
                    <li>Saturday 9AM-5PM</li>
                    <li>Sunday 11AM-5PM</li>
                </ul>
            </div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Fall Season</button>
            <div id="#demo1" class="collapse">
                <ul class="list-unstyled">
                    <li class="text-primary">Labor Day - Nov 4</li>
                    <li>Monday Closed</li>
                    <li>Tuesday Closed</li>
                    <li>Wednesday Closed</li>
                    <li>Thursday 9AM-5PM</li>
                    <li>Friday 9AM-5PM</li>
                    <li>Saturday 9AM-5PM</li>
                    <li>Sunday 11AM-5PM</li>
                </ul>
            </div>
        </div>


        <div class="col-sm-9" style="padding-bottom:42px">
            <iframe src="https://calendar.google.com/calendar/embed?src=kvieirsmbq28hdn2koadkik100%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>