@{
    ViewData["Title"] = "About";
}

<!-- HOURS SECTION -->
<div class="container">
    <div class="header text-center" style="padding-bottom:50px">
        <h1>Hours</h1>
        <h3>Please check the calendar for the hours on the day of your visit.</h3>

    </div>
   
    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Spring Season
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li class="text-primary">March 24 - <a href="https://tinyurl.com/yd9reety" target="_blank">Memorial Day</a></li>
                                <li>Monday Closed</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Summer Season
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li class="text-primary"><a href="https://tinyurl.com/yd9reety" target="_blank">Memorial Day - </a><a href="https://tinyurl.com/yabnfslv" target="_blank">Labor Day</a></li>
                                <li>Monday 9AM-5PM</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Fall Season
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li class="text-primary"><a href="https://tinyurl.com/yabnfslv" target="_blank">Labor Day</a> - Sunday After Halloween</li>
                                <li>Monday Closed</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9" style="padding-bottom:42px">
            <iframe src="https://calendar.google.com/calendar/embed?src=kvieirsmbq28hdn2koadkik100%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
