@{
    ViewData["Title"] = "About";
}

<!-- HOURS SECTION -->
<div class="container">
    <div class="hour-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Hours</h1>
        <p class="lead">Please check the calendar for the hours on the day of your visit.</p>

    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Spring Season
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="text-primary">March 24 - Memorial Day</li>
                                <li>Monday Closed</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            Summer Season
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="text-primary">Memorial Day - Labor Day</li>
                                <li>Monday 9AM-5PM</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            Fall Season
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="text-primary">Labor Day - Nov 4</li>
                                <li>Monday Closed</li>
                                <li>Tuesday Closed</li>
                                <li>Wednesday Closed</li>
                                <li>Thursday 9AM-5PM</li>
                                <li>Friday 9AM-5PM</li>
                                <li>Saturday 9AM-5PM</li>
                                <li>Sunday 11AM-5PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="padding-bottom:42px">
            <iframe src="https://calendar.google.com/calendar/embed?src=kvieirsmbq28hdn2koadkik100%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>