@{
    ViewData["Title"] = "About";
}

<!-- Mission Section -->
        <h1 class="text-center">About Us</h1>
        <h3 class="text-center">Established 2012</h3>
    
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
                <h2>Joel Clinger</h2>
                <h3>Owner and Founder</h3>
                <h4>Joel has always had a passion for animals and got his first "exotic" pet, a ball python when he was 6 years old. It only grew from there as you can see today and Big Joel is the main culprit! He played college football for Mizzou and graduated with his degree in Animal Sciences in 2007.</h4>
                <a href="bigjoelsafari@bigjoelsafari.com" class="btn btn-lg btn-block btn-primary"><i class="fa fa-envelope"></i> Contact</a>
            </div>


            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
                <h2>Mimi</h2>
                <h3>Co-owner</h3>
                <h4>
                    Melissa, "Mimi" met Joel at Mizzou where she took veterinary class. She currently works as an occuppational therapist.
                </h4>
                <a href="bigjoelsafari@bigjoelsafari.com" class="btn btn-lg btn-block btn-primary"><i class="fa fa-envelope"></i> Contact</a>
            </div>
        </div>