@{
    ViewData["Title"] = "About";
}

<!-- Mission Section -->
        <h1>About Us</h1>
        <h3>Established 2012</h3>
    

        <div class="row">
            <div class="col-lg-4 text-center">
                <h2>Season Pass</h2>
                <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
                <h2>Single</h2>
                <h1>$35 <small class="text-muted">/ person</small></h1>
                <a href="https://fs2.formsite.com/P7uNio/form1/index.html" class="btn btn-lg btn-block btn-primary">
                    Buy Now
                </a>
            </div>







            <div class="row">
                <div class="col-lg-4 text-center">
                    <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
                        <h2>Joel Clinger</h2>
                        <h3>Owner and Founder</h3>
                        <h4>Joel has always had a passion for animals and got his first "exotic" pet, a ball python when he was 6 years old. It only grew from there as you can see today and Big Joel is the main culprit! He played college football for Mizzou and graduated with his degree in Animal Sciences in 2007.</h4>
                        <a href="bigjoelsafari@bigjoelsafari.com" class="btn btn-lg btn-block btn-primary"><i class="fa fa-envelope"></i> Contact</a>
                    </div>
                </div>
            </div>
            <div class="w3-half w3-margin-bottom">
                <div class="w3-card">
                    <img src="img/cropsign.png" alt="Mimi" style="width:100%">
                    <div class="w3-container">
                        <h3>Mimi</h3>
                        <p class="w3-opacity">Co-owner</p>
                        <p>Melissa, "Mimi" met Joel at Mizzou where she took veterinary class. She currently works as an occuppational therapist.</p>
                        <p><button class="w3-button w3-theme-d1 w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
</div>   