@{
    ViewData["Title"] = "About";
}


<!-- Newsletter Section -->
    <h2>Stay updated on what's happening at Big Joel's Safari!</h2>
    <p>Join our newsletter.</p>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <a href="mailto:bigjoelsafari@bigjoelsafari.com" class="btn btn-primary">Subscribe</a>
</form>