@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<address>
    13187 State Highway M<br />
    Wright City, MO 63390<br />
    (636)745-3031
</address>

<address>
    <a href="mailto:bigjoelsafari@bigjoelsafari.com">BigJoelSafari@BigJoelSafari.com</a><br />
    <div class="text-muted" style="font-size:30px">
        <a href="https://www.tripadvisor.com/Attraction_Review-g45064-d4235307-Reviews-Big_Joel_s_Safari-Wright_City_Missouri.html/">
            <i class="fa fa-tripadvisor"></i>
        </a>
        <a href="https://www.facebook.com/bigjoelsafari/">
            <i class="fa fa-facebook-official"></i>
        </a>
        <a href="https://www.instagram.com/explore/locations/409581306/big-joels-safari-petting-zoo-educational-park/">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
</address>