@{
    ViewBag.Title = "Home";
}
<p>View animals by:</p>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><a href="/@action.Key">@action.Value</a></li>
    }
</ul>