body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

/* TESTING FULL CAROUSEL */
/* carousel fullscreen */

html, body {
    height: 100%;
    
}

.carousel-inner, .carousel, .item, .container, .fill {
    height: 100%;
    width: 100%;
    background-position: center center;
}



/* other css */
.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.animal-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

    table.animal-listing td:first-child {
        font-weight: bold;
    }

    table.animal-listing td:last-child {
        width: 80%;
    }

label {
    margin-right: 15px;
}

.wrapper {
    display: block;
}

#sidebar {
    position: fixed;
    z-index: 9999;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

    .btn-clear:hover {
        color: #000;
        background-color: #FFF;
    }
