@{
    ViewData["Title"] = "Visit";
}

<!-- Directions Section -->
<div class="container">
    <div class="direction-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Directions</h1>
        <p class="lead">Choose a direction option that fits your needs.</p>

    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            From St. Louis
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-car fa-fw w3-margin-right"></i> Get on I-64 W/US-40 W</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Merge onto I-70 W/US-40 W towards Kansas City</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Take exit 200 toward Missouri F/Missouri J/Wright City</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto N Elm St</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto W 1st St S</li>
                                <li><i class="fa fa-arrow-up fa-fw w3-margin-right"></i> Continue onto State Hwy F/SW Ave</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>
                                <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the left</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            From Kansas City
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-car fa-fw w3-margin-right"></i> Follow I-70 E to MO-47 S/State Hwy 47 S in Warrenton</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Take exit 193 from I-70 E</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto MO-47/State Hwy 47 S (signs for Truesdale/Warrenton)</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto S Spoede Ln</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>
                                <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the left</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            From Washington
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-car fa-fw w3-margin-right"></i> Head onto State Hwy 47 N</li>
                                <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto MO-94 E</li>
                                <li><i class="fa fa-arrow-up fa-fw w3-margin-right"></i> Continue straight onto State Hwy TT</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto Hwy T</li>
                                <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>
                                <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the right</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
