@{
    ViewData["Title"] = "Visit";
}

<!-- Education Section -->
<div class="text-center" style="padding-bottom: 50px;">
    <h1>Field Trip Pricing</h1>
    <h3>Field Trip Season begins on the last Monday in March and goes to the first Friday in November.</h3>
    <h3>Field Trips are not offered on the weekends.</h3>
    <h3>Teachers and Bus Drivers get in FREE!</h3>
</div>

<div class="row">
    <div class="col-lg-6 text-center">
        <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
        <h2>Groups larger than 60</h2>
        <h1>$5 <small class="text-muted">/ person</small></h1>
    </div>


    <div class="col-lg-6 text-center">
        <img class="img-fluid" src="~/images/safarilogo.png" alt="Logo" width="140" height="140">
        <h2>Groups smaller than 60, 15 minimum</h2>
        <h1>$6 <small class="text-muted">/ person</small></h1>

    </div>
</div>

<div class="text-center" style="padding-bottom: 50px;">
    <h1>How to book Field Trips</h1>

</div>
<ul>
    <li>Big Joel's Safari Park Office</li>
    <li>(636)745-3031</li>
    <li>bigjoelsafari@bigjoelsafari.net</li>
</ul>


<h2>Fill out our form</h2>
<a href="https://goo.gl/forms/YhRqfHHu2qqRQfZH3" class="btn btn-lg btn-block btn-primary">Form</a>

<h3>Once the date and time has been finalized, we will send a confirmation email with attached information regarding our educational field trips.</h3>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Field Trip Format
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>
                        Welcome presention before exploring the park at your own pace. Our staff
                        will go over park rules and tips for a fun and safe visit with the entire group.
                        During the presentation you will learn facts about the zoo and more.
                    </li>
                    <li>
                        Teachers and chaperones will be given a map to explore Big Joel's Safari and a bucket of animal feed for the animals.
                        Generally having 8-10 students per chaperone works best. Each map is different and starts each chaperoned group from a different
                        starting point to avoid overcrowding in the park and allow the students to get the most interaction with our animal residents.
                        There are many animals and different areas to feed them. Each chaperoned group will get their own bucket. Avoid using all the feed in one spot.
                    </li>
                    <li>There are informational signs about each animal. Zoo staff are stationed throughout the park to answer any questions about the animals and their habitats.</li>
                    <li>Groups journeys last an average of 90 minutes. Guests are encouraged to use the handwash station before exiting the park.</li>
                    <li>Additional expenses, such as feeding the parakeets, are not included in the field trip admission price.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Planning Field Trips in Spring and Fall
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4>Thursdays and Fridays</h4>
                <ul>
                    <li>Smaller groups are best for these busier days.</li>
                    <li>$50 non-refundable deposit required.</li>
                </ul>
                <ul>
                    <li>Larger groups are best for these less busy days.</li>
                    <li>$100 non-refundable deposit required.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Planning Field Trips in Summer
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4>Memorial Day - Labor Day</h4>
                <h4>Mondays, Thursdays, and Fridays</h4>
                <ul>
                    <li>Same as above</li>
                </ul>
                <h4>Memorial Day - Labor Day</h4>
                <h4>Tuesdays and Wednesdays</h4>
                <ul>
                    <li>Minimum of 100 participants required on days when the park is closed to the public.</li>
                    <li>$150 non-refundable deposit required.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Cancellation and Late Policy
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4>Inclement Weather Cancellation</h4>
                <ul>
                    <li>Only Big Joel can authorize the cancellation of a field trip due to inclement weather.</li>
                    <li>We always keep a close watch on the weather for the safety of the animals as well as our guests.</li>
                    <li>We will contact you if you are scheduled.</li>
                    <li>Cancelling without calling will result in no refund.</li>
                    <li>Late groups should call as soon as possible.</li>
                    <li>Groups are encouraged to arrive 10-15 minutes before the scheduled start time.</li>
                    <li>If a group fails to call or arrive within 30 minutes of the scheduled start time, then Big Joel's will contact the group.</li>
                    <li>If Big Joel's is unable to make contact with a late group, it will result in a field trip cancellation.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Tips for a great field trip
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>Arrive 10-15 minutes before the scheduled start time.</li>
                    <li>We encourage groups to wait to use the restroom until the Welcome Presentation is completed, so that everyone is able to hear the rules and fun tips together.</li>
                    <li>We recommend one chaperone per 8-10 member group.</li>
                    <li>Each group will recieve a feed bucket and a map with a starting point unique from the other groups.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Guide to Field Trips
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>Arrive 10-15 minutes before the scheduled start time.</li>
                    <li>Be sure to check your route before coming. We know it can be easy to get lost and want our guests to arrive safely.</li>
                    <a asp-controller="Visit" asp-action="Directions" class="btn btn-primary">Print Directions</a>
                    <li>All groups need to have completed their payment transaction and have a copy of their Tax Exempt form before entering the park.</li>
                    <li>Big Joel's offers refund park passes in cases where the trip was paid for in advanced and not all participants are in attendance.</li>
                    <li>The animal feed label does not list peanuts or nut products, however we can't guaruntee 100%.</li>
                    <li>Big Joel's does not have drinking fountains, but does sell bottles of water at the front desk.</li>
                    <li>Students are required to stay with chaperones at all times</li>
                    <li>Respect the animals. This means being quiet, calm, and not harassing the animals.</li>
                    <li>Obey all rules, signs, and staff members.</li>
                    <li>Only feed animals the food you have been given. Signs will indicate when an animal is on a special diet.</li>
                    <li>Do not throw feed at animals. Do not pour feed onto the ground. Do not pick up feed off of the ground, we don't want the animals to get sick.</li>
                    <li>Walk, do not run. Stay on designated paths only.</li>
                    <li>Please do not litter.</li>
                    <li>Do not pick up or kick gravel. Anyone caught throwing rocks at animals, will be escorted off the premises.</li>
                    <li>Please do not disturb flowers, plants, or free roaming animals.</li>
                    <li>Be courteous and respectful of other visitors.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Rules for Participants and Chaperones
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>