@{
    ViewData["Title"] = "Visit";
}

<!-- Education Section -->
<div class="container">
    <div class="education-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Hours</h1>
        <p class="lead">Come talk to the animals.</p>

    </div>

        <div class="text-center" style="margin-top:64px">
            <p>
                Learn some cool facts about animals and about us. Touch animal artifacts such as ostrich eggs and deer antlers.
                You can even touch one of our animal ambassadors such as a snake, alligator, or other animal friends! Weekends in the Spring and Fall and everyday for the summer time.
                This is a free activity that is available 1 hour after opening until 1 hour before closing and is weather permitting of course.
            </p>
        </div>
    </div>
