@{
    ViewData["Title"] = "Visit";
}


<!-- FAQ Section -->
<div class="container">
    <div class="faqs-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Frequently Asked Questions</h1>
    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            How long should we plan for a visit?
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Truth be told it depends on how much you love animals, you could spend an hour or half a day.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            What type of park is Big Joel's Safari?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Big Joel's Safari is a small walk-through park on 15 acres. It is half petting zoo and half zoo and gets you close to the animals.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            What is the best age to visit?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Big Joel's is made for all ages as long as you love animals.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                            Are you allowed to bring food and beverages into Big Joel's Safari?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>For the safety of our animals, the answer is no. Water bottles are allowed. Sealed snacks and drinks are sold in our gift shop.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                            Is the park wheelchair accessible?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    We are partially wheelchair accessible. The zoo does not have paved walkways and is on natural terrain.
                                    There are slight inclines, gravel, and grass to manage. Some chairs do better than others, and we do not have wheelchair rentals.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                            What animals are you allowed to feed and touch?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    Almost any animal that can walk up to the fence can be fed or touched, unless posted signs tell you otherwise.
                                    For example, some love to be petted, but cannot be fed. While some love to be fed, but not touched.
                                    Most animals at the park that can be touched and fed love both!
                                    The feed is not for all the animals as some are on special diets, so keep them healthy.
                                    You can use your hands, spoons, or special feed tubes to feed the animals, but don't use your cup they might steal or break it!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                            Do you have to have a reservation or schedule a time to come out to the Safari?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>You can visit anytime during open days and hours, which can be found in the "Park Information" section. Only school tours and field trips must be scheduled in advance.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>