@{
    ViewData["Title"] = "Visit";
}

    <div class="row" style="text-align: center;">
        <div class="col-sm-4">
            <h2>ATTRACTION MAPS</h2><a asp-controller="Visit" asp-action="Map" class="btn btn-primary">Download Map</a>
        </div>
        <div class="col-sm-4">
            <h2>HOURS &amp; SCHEDULES</h2><a asp-controller="About" asp-action="Hours" class="btn btn-primary">Operating Hours</a>
        </div>
        <div class="col-sm-4">
            <h2>DIRECTIONS</h2><a asp-controller="Visit" asp-action="Directions" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <hr />
    <div class="row" style="text-align: center;">
        <div class="col-sm-4">
            <h2>SCHOOL GROUPS</h2><a asp-controller="Visit" asp-action="Education" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-sm-4">
            <h2>RULES &amp; POLICIES</h2><a asp-controller="Visit" asp-action="Policies" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-sm-4">
            <h2>FAQs</h2><a asp-controller="Visit" asp-action="FAQS" class="btn btn-primary">FAQs</a>
        </div>
    </div>
    <hr />
    <div class="row" style="text-align: center;">
        <div class="col-sm-4">
            <h2>BIRTHDAY PARTIES &amp; VENUE RENTAL</h2><a asp-controller="Parties" asp-action="Index" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-sm-4">
            <h2>LIVE NATIVITIES &amp; ANIMAL RENTAL</h2><a asp-controller="Visit" asp-action="Nativity" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-sm-4">
            <h2>RECEIVE EMAIL UPDATES</h2><a asp-controller="About" asp-action="Newsletter" class="btn btn-primary">Subscribe Now</a>
        </div>
    </div>