@{
    ViewData["Title"] = "Visit";
}
<div class="row">
    <div class="col-sm-4">
        <h2>ATTRACTION MAPS</h2><a asp-controller="Visit" asp-action="Map" class="btn btn-primary">Download Map</a></div> 
    <div class="col-sm-4">
        <h2>HOURS & SCHEDULES</h2><a asp-controller="About" asp-action="Hours" class="btn btn-primary">Operating Hours</a></div>
    <div class="col-sm-4">
        <h2>DIRECTIONS</h2><a asp-controller="Visit" asp-action="Directions" class="btn btn-primary">Learn More</a></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2>SCHOOL GROUPS</h2><a asp-controller="Visit" asp-action="Education" class="btn btn-primary">Learn More</a></div>
     <div class="col-sm-4">
        <h2>GROUPS & EVENTS</h2><a asp-controller="Visit" asp-action="Policies" class="btn btn-primary">Learn More</a></div>
     <div class="col-sm-4">
        <h2>INSIDER GUIDE</h2><a asp-controller="Visit" asp-action="FAQS" class="btn btn-primary">Download Now</a></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2>TIPS FOR A GREAT VISIT</h2><a asp-controller="Visit" asp-action="FAQS" class="btn btn-primary">FAQS</a></div>
    <div class="col-sm-4">
        <h2>SKIP THE LINE</h2><a asp-controller="Admission" asp-action="Index" class="btn btn-primary">Buy Tickets Now</a>
    </div>
    <div class="col-sm-4">
        <h2> RECEIVE EMAIL UPDATES</h2><a asp-controller="About" asp-action="Newsletter" class="btn btn-primary">Subscribe Now</a>
    </div>
</div>
