@{
    ViewData["Title"] = "Visit";
}

<h1>Mobile Animal Services</h1>

<div class="row">
    <div class="col-sm-6">
        <img src="~/images/safarilogo.png" alt="Nativity">
        <h2>Live Nativities</h2>
        <h3></h3>
        <h4>
            Big Joel's Safari provides Live Nativities during the holiday season. Want to add something special to your nativity scene, church program, or holiday event this season? We have provided animals for many churches and organizations. We generally provide traditional barn animals such as donkeys, goats, sheep, small cow, and sometimes poultry on request. We can of course provide a camel ( or camels ) which are often the highlight of the show.  All live nativities are customized to suit your needs, so we do not have general pricing for this service.
            For a price quote and availability you can call the park office 636-745-3031.
            So we can give you a better quote please know the date or dates, how long your event will be, location, & any special scenarios.
            Our animals have performed at various nativities and productions, including Six Flags Holiday in the Park "Majesty of Christmas" and Harvester Christian Church's "Journey to Bethlehem".
        </h4>
        <h2 class="text-primary menu-price">636-745-3031<small class="text-muted">/ Park Office</small></h2>
        <img src="~/images/safarilogo.png" alt="LgEvents">
        <h2>Large Events</h2>
        <h3>Petting Zoos, Camel Rides, Festivals, and More</h3>
        <h4>
            Big Joel's Safari only provides the following for Large Events, for small mobile petting zoos for birthday parties and small events please contact Nick's Barnyard Buddies (info below). Availability and options varies, email or call for more information


        </h4>
        <h2 class="text-primary menu-price">573-465-7125<small class="text-muted">/ Nick's Barnyard Buddies</small></h2>
    </div>
    <div class="col-sm-6">
        <img src="~/images/safarilogo.png" alt="Nicks">
        <h2>Nick's Barnyard Buddies</h2>
        <h3>Mobile Petting Zoo and Pony Rides</h3>
        <h4>
            Big Joel's Safari does not offer small mobile petting zoos for birthday parties, daycares, or other events, so contact Nick's Barnyard Buddies! Nick & his family offers a mobile petting zoo & pony rides with variety of barnyard variety critters that will be serving the St. Louis Area and surrounding areas. Nick's Barnyard Buddies custom trailer allows kids to get up close with the animals a while saving you the mess and set up of the traditional petting zoo! The trailer is 28' feet long and has vinyl graphics on all sides (it is really cool).
        </h4>
        <h2 class="text-primary menu-price">573-465-7125<small class="text-muted">/ Nick's Barnyard Buddies</small></h2>
        <img src="~/images/safarilogo.png" alt="TV">
        <h2>Animal Rentals</h2>
        <h3>And TV Appearances</h3>
        <h4>
            We have had our animals out for photo shoots, TV appearances, business promotions, parades, and more. Our animals must be accompanied by one of their handlers at all times to ensure their safety. Call for a quote & availability
        </h4>
        <h2 class="text-primary menu-price">636-745-3031<small class="text-muted">/ Park Office</small></h2>
    </div>
    </div>