@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Visit";
}

<!-- Zoo Services and Policies -->
<div class="container">
    <div class="faqs-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Zoo Services and Policies</h1>
    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-top:42px">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Prohibited Items
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <p>For the safety and welfare of our animals and visitors, <b>the following are prohibited:</b></p>
                            <ul class="list-unstyled">
                                <li>Smoking is prohibited, except in designated smoking areas</li>
                                <li>
                                    Dogs or other pets. Service animals are permitted. Dogs whose sole function is to provide comfort
                                    or emotional support do not qualify as service animals under the Americans with
                                    Disabilites Act (ADA) and are not permitted inside the Zoo.
                                <li>Entering non-public areas</li>
                                <li>Firearms and weapons (even if you have a concealed carry endorsement)
                                <li>Balloons</li>
                                <li>Bicycles (racks are available at the entrance)</li>
                                <li>Segways, hoverboards</li>
                                <li>Skates, skateboards, roller blades, or scooters</li>
                                <li>Loud radios</li>
                                <li>Lasers</li>
                                <li>Drones</li>
                                <li>Swim suits</li>
                                <li>Profanity on clothing</li>
                            </ul>
                            <p>Your cooperation is appreciated.</p>

                            <p>
                                The rules and policies listed here are not intended to serve as an exhaustive list
                                of all rules and policies. Contact us at (636)745-3031 for more information.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            Rules and Policies
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p><b>Please note the following policies:</b></p>
                            <ul class="list-unstyled">
                                <li>Shirt and shoes are required.</li>
                                <li>Family-friendly attire is required. No profanity or graphic images.
                                <li>Swimsuits are prohibited</li>
                                <li>
                                    Children under the age 14 must be accompanied by an adult or have
                                    an adult chaperone present at the Zoo (field trips, etc.).
                                <li>
                                    Big Joel's Safari staff may take photographs of your party during
                                    your visit to the park. These photos may be used by Big Joel's Safari for both
                                    internal and public publications, including the Big Joel's Safari website and social media pages.
                                <li>
                                    Distribution of any advertisement, circular or handbill, or solicitaion of
                                    funds or pledges of contributions within Big Joel's Safari property is prohibited.
                                </li>
                                <li>
                                    Personal video and photography are permitted, provided they don't interrupt
                                    the visitor experience for others.
                                </li>
                                <li>Student or commercial filming must be approved in advance.</li>
                                <li>Strollers and other personal belongings are left unattended at the owner's risk.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="w3-large">
                    Tickets are nonrefundable. Big Joel's Safari is not responsible for refunding
                    purchases in the event of inclement weather, attraction wait times, early closing times,
                    or special events.
                </p>
</div>
            </div>
        </div>
    </div>
