@{
    ViewData["Title"] = "Gallery";
}

<h1>Photo Gallery</h1>


<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>


<div class="gallery">
    <a target="_blank" href="~/images/zebra.jpg">
        <img src="~/images/zebra.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/goats.jpg">
        <img src="~/images/goats.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/porcupine.jpg">
        <img src="~/images/porcupine.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/pig.jpg">
        <img src="~/images/pig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/peacock.jpg">
        <img src="~/images/peacock.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/camel.jpg">
        <img src="~/images/camel.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/calf.jpg">
        <img src="~/images/calf.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/9915417_orig.jpg">
        <img src="~/images/9915417_orig.jpg" alt="peacock" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/9417897_orig.jpg">
        <img src="~/images/9417897_orig.jpg" alt="monkey" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/520675.jpg">
        <img src="~/images/520675.jpg" alt="snake" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/9339348.jpg">
        <img src="~/images/9339348.jpg" alt="deer" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/9012842_orig.jpg">
        <img src="~/images/9012842_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/8783186.jpg">
        <img src="~/images/8783186.jpg" alt="waterdeer" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/8048388_orig.jpg">
        <img src="~/images/8048388_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/7477786_orig.jpg">
        <img src="~/images/7477786_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/6896862.jpg">
        <img src="~/images/6896862.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/6872738_orig.jpg">
        <img src="~/images/6872738_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/6388123_orig.jpg">
        <img src="~/images/6388123_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/6186795_orig.jpg">
        <img src="~/images/6186795_orig.jpg" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
