@{
    ViewData["Title"] = "Gallery";
}

<h1>Photo Gallery</h1>


<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>


<div class="gallery">
    <a target="_blank" href="~/images/safarilogo.png">
        <img src="~/images/safarilogo.png" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/safarilogo.png">
        <img src="~/images/safarilogo.png" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/safarilogo.png">
        <img src="~/images/safarilogo.png" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/safarilogo.png">
        <img src="~/images/safarilogo.png" alt="Logo" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
